<h1>Organisation Registration</h1>

<form [formGroup]="adminForm" (ngSubmit)="onSubmitAdminDetails(adminForm.value)">
    <mat-form-field class="full-width">
      <input matInput type="text" placeholder="Enter Organisation name" formControlName="name" class="form-control" required>
    </mat-form-field>
    <div class="validation-errors">
        <ng-container *ngFor="let validation of validation_messages.name" >
          <div class="error-message" *ngIf="adminForm.get('name').hasError(validation.type) && (adminForm.get('name').dirty || adminForm.get('name').touched)">
        {{ validation.message }}
          </div>
        </ng-container>
    </div>
    <br>
    
     
	<button class="submit-btn" color="primary" mat-raised-button type="submit" (click)="register(message)">Register</button>
</form>

