
<mat-toolbar>
     
        <mat-toolbar-row>
          <span>Dashboard</span>
          <span class="example-spacer"></span>
          <mat-icon class="example-icon">search</mat-icon>
          <mat-icon class="example-icon">notifications</mat-icon>
          <mat-icon class="example-icon">person</mat-icon>
          <mat-icon class="example-icon" (click)="logout()">logout</mat-icon>
        </mat-toolbar-row>
      </mat-toolbar>

<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
           <mat-icon class="example-icon">dashboard</mat-icon>Visitor Check-In
           <br>
           <br>
                <mat-icon class="example-icon">home</mat-icon>Employee Management
                <br>
                <br>
                <mat-icon class="example-icon" (click)="vis()">add</mat-icon>Add Employee
                <br>
                <br>
                <mat-icon class="example-icon" (click)="vis()">list</mat-icon>View Employees
       
    </mat-drawer>
    
    <mat-drawer-content>
           
          
    </mat-drawer-content>
</mat-drawer-container>