.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

  .mat-toolbar{
    background-color: rgb(55, 71, 79);
    color: white;
  }

  .example-container {
    width: 1000px;
    height: 1000px;
   
   
  }

  h1{
    padding: 50px;
   margin: 0 auto;
   display:flex;
   flex-direction:column;
   justify-content: center;
   align-items: center;
   color: rgb(55, 71, 79);
}

form{
   margin: 0 auto;
   width: 500px;
   display:flex;
   flex-direction:column;
   justify-content: center;
   align-items: center;
}



