
<mat-toolbar>
     
        <mat-toolbar-row>
          <span>Dashboard</span>
          <span class="example-spacer"></span>
          <mat-icon class="example-icon">search</mat-icon>
          <mat-icon class="example-icon">notifications</mat-icon>
          <mat-icon class="example-icon">person</mat-icon>
          <mat-icon class="example-icon" (click)="logout()">logout</mat-icon>
        </mat-toolbar-row>
      </mat-toolbar>

<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
           <mat-icon class="example-icon">dashboard</mat-icon>Visitor Check-In
           <br>
           <br>
                <mat-icon class="example-icon">person</mat-icon>Employee Management
                <br>           
                  <p (click) = "addEmp()" >Add Employee</p> 
                <br>
               <p (click) = "viewEmp()" >View Employees</p> 
               <mat-icon class="example-icon">home</mat-icon>Campus Management
                <br>           
                  <p (click) = "addCamp()" >Add Campus</p> 
                <br>
               <p (click) = "viewCamp()">View Campuses</p> 
               <mat-icon class="example-icon">home</mat-icon>Organisation Management
                <br>           
                  <p (click) = "addOrg()" >Add Organisation</p> 
                <br>
               <p (click) = "viewOrg()">View Organisations</p> 
       
    </mat-drawer>
    
    <mat-drawer-content>
           
          
    </mat-drawer-content>
</mat-drawer-container>